__pycache__/
.Python
.cache
*.py,cover
.pytest_cache/
.webassets-cache
.pybuilder/
.ipynb_checkpoints
profile_default/
.pdm.toml
__pypackages__/
venv/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.idea/
.DS_Store
*/venv/
transcripts/
backend/__pycache_
backend/.ipynb_checkpoints_
temp_uploads/
